.name-intro {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  font-size: 7rem;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  padding-left: 30px;
  background-color: #fff6e6;
}

.name-intro-content {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.scroll-arrow {
  justify-content: right;
  width: 99px;
  height: 93px;
  animation: bounce 2s ease-in-out infinite;
  z-index: 10;
  margin-right: 10vw;
}

/* Animation */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
