.accordion-item {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
}

.accordion-header {
  background: none;
  border: none;
  font-size: 1.1rem;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.5rem 0;
}

.accordion-content {
  padding: 0.5rem 0;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.project {
  flex: 1 1 45%;
}