.main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.content-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  margin-left: var(--header-width);
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .content-wrapper {
    margin-left: 0;
  }
}