:root {
  font-family: 'Poppins', sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --purple-color: #9E74E6;
  --purple-color-light: #9c27b0;
  --top-padding: 80px;
  --left-padding: 20px;
  --background-color: #FFF8F0;
  --header-width: 250px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: #000;
}
