.header-container {
  position: fixed;
  width: var(--header-width);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  border-right: 1px solid #ccc;
}

.top-section,
.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: var(--top-padding);
  padding-right: 0;
  padding-left: 0;
}

.top-section {
  padding-bottom: 20px;
}

.bottom-section {
  padding-top: 20px;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 80px;
}

.logo {
  width: 60px;
  height: auto;
}

.nav-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.nav-section a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.nav-section a:hover {
  color: var(--purple-color);
}

.nav-section a.active-link {
  color: var(--purple-color);
  font-weight: bold;
}

.icon-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.icon-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.icon-links a:hover {
  color: var(--purple-color);
}

.icon-links img {
  width: 20px;
  height: 20px;
}

.language-toggle button {
  background: none;
  border: none;
  font-size: 12px;
  cursor: pointer;
  color: black;
}
