.footer {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  background-color: #9747FF;
  height: 10rem;
  gap: 2rem;
}

.footer-left {
  max-width: 60%;
}

.footer-left h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-rights {
  margin: 0.3rem 0;
  font-size: 1rem;
}

.footer-note {
  color: #9747FF;
  font-size: 0.6rem;
  margin-top: 1rem;
}

.footer-contact-title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.footer-icons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.footer-icon {
  font-size: 2rem;
  color: #000000;
  transition: transform 0.2s ease, color 0.2s ease;
}

.footer-icon:hover {
  transform: translateY(-4px);
  color: #ffffff;
}
