.header-background {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5rem;
  background-color: #000000;
  backdrop-filter: blur(10px);
  z-index: -1;
  transition: opacity 0.3s ease;
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.buttons-background {
  top: 0;
  right: 0;
  width: 30rem;
  height: 4.5rem;
  background-color: #fff6e6;
  z-index: -1;
  transition: opacity 0.3s ease;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-right: 0.5rem;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    text-align: center;
    font-size: 15px;
    height: 5rem;
    z-index: 1000;
    transition: opacity 0.3s ease;
    transition: transform 0.5s ease-in-out, box-shadow 0.1s ease;
    background-color: transparent;
    pointer-events: auto;
    /* box-shadow: 0 6px 8px rgba(0,0,0,0.05); */
  }

  .header.hidden {
    transform: translateY(-100%);
  }
  
  .header.visible {
    transform: translateY(0);
  }

  .logo-container {
    align-items: center;
    gap: 1rem;
    padding-left: 25px;
  }
  
  .logo {
    width: 3rem;
    height: auto;
  }

  .header nav a {
    color: #000000;
    text-decoration: none;
    font-weight: sans-serif;
    padding: 0.4rem 1rem;
    margin-left: 0.1rem;
    border-radius: 9999px;
    display: inline-block;
    transition: all 0.1s ease;
    position: relative;
    /* border: 2px solid #000000; */
  }

  .header nav a:hover{
    transform: translateY(-2px);
    /* background-color: #9747FF; */
    color: #000000;
  }

  .nav-container {
    display: flex;
    gap: 1rem;
    width: 20rem;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;  
  }

  .nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }