.name-intro {
    display: flex;
    justify-content: left;
    gap: 0.3em;
    font-size: 7rem;
    font-weight: bold;
    margin-bottom: 10rem;
    margin-top: 28rem;
    margin-left: 2rem;
    font-family: Climate Crisis;
  }
  
  