* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  /* background-color: #fff6e6; */
  background-color: #9747FF;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

p {
  font-weight: 400;
  font-size: 2rem;
}

nav {
  font-weight: 500;
  font-size: 1rem;
}

nav a {
  text-decoration: none;
}