/* src/main.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff6e6;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: "Special Gothic Expanded One", sans-serif;
  }
  
  p {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  nav { /*texte header*/
    font-weight: 500;
    font-size: 1rem;
  }
  
  nav a {
    margin-right: 2rem;
    text-decoration: none;
  }
  
.homepage {
  padding: 4rem 2rem;
  padding-bottom: 0;
  max-width: 1200px; /*max largeur en x*/
  margin: 0;
  font-family: "Poppins", sans-serif;
  justify-content: left;
}

.lang-block {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .lang-btn {
    --button_radius: 999px; 
    --button_color: #fff6e6;
    --button_outline_color: #000000;
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    /* background: var(--button_outline_color); */
    position: relative;
    transform: translateY(-5px);
  }
  
  .button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.5em 1.2em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
    font-family: "Poppins", sans-serif;
  }
  
  
  .lang-btn:hover .button_top {
    transform: translateY(-0.33em);
    --button_color: #9E74E6;

  }
  
  .lang-btn:active .button_top {
    transform: translateY(0);
  }
  
  .links {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  .link {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    text-decoration: underline;
    font-style: italic;
  }
  
  .cv-link, .linkedin-link {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .cv-link:hover, .linkedin-link:hover {
    color: #9E74E6;  /* Change la couleur au survol */
  }

  .project-section {
    background-color: #000;
    width: 100%;
    height: 100%;
    transition: background-color 0.8s ease;
  }
  
  /* slash project */
  .project-section-title  {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 30px;
    color: #FFF6E6;
    font-weight: 600;
    font-size: 20px;
  }
  
  .projects {
    background: #000000;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 par ligne */
    grid-gap: 2rem;
    
    margin-right: 2rem;
    margin-left: 2rem;
    transition: background-color 0.8s ease;
  }

  .project {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .project-image {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
  }
  
  .project-title {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    color: #FFF6E6;
    padding: 0.5rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .project:hover .project-image {
    opacity: 0.6;
  }
  
  .project:hover .project-title {
    opacity: 1;
  }
  
  .project:hover .project-tag {
    opacity: 1;
  }

  .project-tags {
    display: flex;
    gap: 0.5rem;
  }
  
  .project-tag {
    padding: 0.4rem 0.8rem;
    background-color: transparent;
    border: 2px solid #FFF6E6;
    color: #FFF6E6;
    border-radius: 999px;
    font-size: 0.9rem;
    font-weight: 500;
    opacity: 0;
    transform: translateX(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .project:hover .project-tag {
    opacity: 1;
    transform: translateY(0);
  }
  

  .section-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #000000;
    font-family: 'Poppins', sans-serif;
  }
  
  .scroll-invite {
    text-align: center;
    margin-top: -5rem;
    margin-bottom: 6rem;
  }
  

  .blinking-cursor {
    font-size: 1.5rem;
    color: #FFF6E6;
    animation: blink 1s step-start infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

 /* Ajouter cette classe à votre texte */
.reveal-text {
  display: inline-block;
  opacity: 0;
  transform: translateY(50px);
  animation: revealText 1s ease-out forwards;
}

@keyframes revealText {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.reveal-text span {
  display: inline-block;
  opacity: 0;
  transform: translateY(50px);
  animation: revealTextLetter 0.5s ease-out forwards;
  animation-delay: var(--delay);
}

@keyframes revealTextLetter {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.see-all-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.all-projects {
  font-size: 0.9rem;
  display: inline-block;
  padding: 8px 16px;
  
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.1s ease;
  border-radius: 9999px;
  border: 2px solid #fff;
}

.all-projects:hover {
  transform: translateY(-2px);
  background-color: #9E74E6;
  color: #fff;
}

.all-projects:active {
  transform: translateY(0);
}
