* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fff6e6;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: "Special Gothic Expanded One", sans-serif;
}

p {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1rem;
}

nav {
  font-weight: 500;
  font-size: 1rem;
}

nav a {
  margin-right: 2rem;
  text-decoration: none;
}